faiss-cpu
filelock>=3.12.0
langchain==0.1.11
langchain-community==0.0.27
langchain-core==1.2.11
langchain-experimental==0.0.53
langchain-openai==0.1.1
numpy>=1.24.0
openai==1.55.3
pandas>=2.0.3
pydantic==1.10.12
pyyaml>=6.0.1
requests>=2.31.0
sentence-transformers>=2.2.2
tiktoken>=0.7.0
torch>=2.1.0
tqdm==4.66.0
transformers>=4.36.0
yacs==0.1.8
